.u-mb-large {
  margin-bottom: 5rem; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #161722;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
  color: #cacde8; }

.header {
  width: 100vw;
  height: 20vw;
  background-image: url(../images/bg-desktop-dark.jpg);
  background-size: cover;
  position: absolute;
  top: 0; }

.container {
  margin: 10rem auto;
  background-color: transparent;
  width: 40%; }

.app {
  display: flex;
  justify-content: space-between; }
  .app__name {
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 1rem;
    color: #fafafa; }
  .app__input-field {
    margin-bottom: 3rem;
    border-radius: .5rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4); }
  .app__text {
    text-align: center;
    font-size: 1rem;
    margin: 4rem auto; }

.field {
  display: flex;
  align-items: center;
  background-color: #25273c;
  padding: 2.5rem; }
  .field__checkbox--input {
    opacity: 0; }
  .field__checkbox {
    height: 2.5rem;
    width: 2.5rem;
    display: block;
    border: 3px solid #e4e5f1;
    border-radius: 50%;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .field__checkbox:hover {
      cursor: pointer; }
  .field__icon {
    display: block;
    opacity: 0; }
  .field__checkbox--input:checked ~ .field__label .field__checkbox {
    border: none;
    background-image: linear-gradient(#57ddff, #c058f3); }
  .field__checkbox--input:checked ~ .field__label .field__icon--check {
    opacity: 1; }
  .field__checkbox--input:checked ~ .field__content {
    text-decoration: line-through;
    color: #777a92; }
  .field__content {
    margin-right: auto; }
  .field:hover > img {
    opacity: 1; }

.field:first-child {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem; }

.list {
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4); }
  .list > .field {
    border-bottom: 2px solid #777a92; }

.items {
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  font-size: 1.5rem;
  color: #777a92; }
  .items__tab {
    display: flex;
    justify-content: space-evenly; }
    .items__tab > *:hover {
      color: #fafafa;
      cursor: pointer; }
    .items__tab--2 {
      margin: 0 2rem; }

.active {
  color: rgba(0, 0, 255, 0.664); }
